In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('./data.csv')
data = data[['Year', 'Country of origin', 'Country of asylum', "Refugees under UNHCR's mandate","Asylum-seekers",'International total' ]]
data.head(3)

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,International total
0,2017,Afghanistan,Afghanistan,0,0,0
1,2017,Iran (Islamic Rep. of),Afghanistan,34,5,39
2,2017,Pakistan,Afghanistan,75893,101,75994

In [4]:
sorted_data = data.sort_values('International total', ascending=False)
sorted_data.head(70)

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,International total
25784,2021,Syrian Arab Rep.,Türkiye,3737369,0,3737369
31464,2022,Syrian Arab Rep.,Türkiye,3648983,0,3648983
20354,2020,Syrian Arab Rep.,Türkiye,3641370,0,3641370
9706,2018,Syrian Arab Rep.,Türkiye,3622366,111,3622477
15012,2019,Syrian Arab Rep.,Türkiye,3576370,0,3576370
...,...,...,...,...,...,...
20383,2020,Dem. Rep. of the Congo,Uganda,417407,4156,421563
27765,2022,South Sudan,Ethiopia,403115,204,403319
15041,2019,Dem. Rep. of the Congo,Uganda,394037,3601,397638
27238,2022,Sudan,Chad,393082,1927,395009
22291,2021,South Sudan,Ethiopia,386750,179,386929

In [5]:
total_data = sorted_data[['Year', "Country of origin", "Country of asylum", 'International total']]

In [29]:
top_origin_list = ["Syrian Arab Rep.", "Afghanistan","Ukraine", "South Sudan","Myanmar",'Sudan',
               "Central African Rep.",'Venezuela (Bolivarian Republic of)','Dem. Rep. of the Congo',
                  "Mexico", "Brazil","Nigeria", "China", "Ethopia", "Iran (Islamic Rep. of)","Iraq", "Russia",
               "Colombia","Pakistan", "Yemen"
              ]

In [30]:
top_origin_data = total_data[total_data['Country of origin'].isin(top_origin_list)]

In [31]:
top_origin_data.head(15)

       Year Country of origin   Country of asylum  International total
25784  2021  Syrian Arab Rep.             Türkiye              3737369
31464  2022  Syrian Arab Rep.             Türkiye              3648983
20354  2020  Syrian Arab Rep.             Türkiye              3641370
9706   2018  Syrian Arab Rep.             Türkiye              3622477
15012  2019  Syrian Arab Rep.             Türkiye              3576370
4605   2017  Syrian Arab Rep.             Türkiye              3424399
30226  2022       Afghanistan            Pakistan              1563605
24633  2021       Afghanistan            Pakistan              1503822
30725  2022           Ukraine  Russian Federation              1460650
19236  2020       Afghanistan            Pakistan              1448100
13922  2019       Afghanistan            Pakistan              1427490
8658   2018       Afghanistan            Pakistan              1408533
3607   2017       Afghanistan            Pakistan              1395851
30483  2022           Ukraine              Poland              1201146
4645   2017       South Sudan              Uganda              1037898

In [6]:
total_data_2017 = total_data[total_data['Year'] == 2017]
total_data_2018 = total_data[total_data['Year'] == 2018]
total_data_2019 = total_data[total_data['Year'] == 2019]
total_data_2020 = total_data[total_data['Year'] == 2020]
total_data_2021 = total_data[total_data['Year'] == 2021]
total_data_2022 = total_data[total_data['Year'] == 2022]

In [7]:
total_data_2017_country = total_data_2017.groupby(["Country of origin",'Year']).sum(['International total'])
total_data_2018_country = total_data_2017.groupby(["Country of origin",'Year']).sum(['International total'])
total_data_2019_country = total_data_2017.groupby(["Country of origin",'Year']).sum(['International total'])
total_data_2020_country = total_data_2017.groupby(["Country of origin",'Year']).sum(['International total'])
total_data_2021_country = total_data_2017.groupby(["Country of origin",'Year']).sum(['International total'])
total_data_2022_country = total_data_2017.groupby(["Country of origin",'Year']).sum(['International total'])

In [9]:
total_data_country = total_data.groupby(["Country of origin",'Year']).sum(['International total'])

In [13]:
total_data_country_aslyum = total_data.groupby(["Country of asylum",'Year']).sum(['International total'])

In [14]:
total_data_country_aslyum.head(10)

                        International total
Country of asylum Year
Afghanistan       2017                76142
                  2018                72509
                  2019                72474
                  2020                72445
                  2021                67200
                  2022                59781
Albania           2017                  156
                  2018                  291
                  2019                  125
                  2020                  105

In [11]:
total_data_country.head(10)

                        International total
Country of origin Year
Afghanistan       2017              2958251
                  2018              2991374
                  2019              2978603
                  2020              2833618
                  2021              2975729
                  2022              3111205
Albania           2017                30929
                  2018                34583
                  2019                34034
                  2020                33151

In [12]:
total_data_country.to_csv('./total_data_year_country.csv')

In [15]:
total_data_country_aslyum.to_csv('./total_data_year_country_asylum.csv')

In [57]:
top_origin_list = ["Syrian Arab Rep.", "Afghanistan","Ukraine", "South Sudan","Myanmar",'Sudan',
               "Central African Rep.",'Venezuela (Bolivarian Republic of)','Dem. Rep. of the Congo',
                  "Mexico", "Brazil","Nigeria", "China", "Ethopia", "Iran (Islamic Rep. of)","Iraq", "Russia",
               "Colombia","Pakistan", "Yemen"
              ]

In [63]:
syrian_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Syrian Arab Rep."]
afghanistan_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Afghanistan"]
ukraine_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Ukraine"]
south_sudan_origin_data = top_origin_data[top_origin_data['Country of origin'] == "South Sudan"]
myanmar_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Myanmar"]
sudan_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Sudan"]
central_african_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Central African Rep."]
venezuela_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Venezuela (Bolivarian Republic of)"]
congo_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Dem. Rep. of the Congo"]
mexico_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Mexico"]
brazil_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Brazil"]
nigeria_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Nigeria"]
china_origin_data = top_origin_data[top_origin_data['Country of origin'] == "China"]
ethopia_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Ethopia"]
iran_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Iran (Islamic Rep. of)"]
iraq_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Iraq"]
russia_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Russia"]
colombia_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Colombia"]
pakistan_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Pakistan"]
yemen_origin_data = top_origin_data[top_origin_data['Country of origin'] == "Yemen"]

In [71]:
syrian_origin_data_year = syrian_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
afghanistan_origin_data_year = afghanistan_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
ukraine_origin_data_year = ukraine_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
south_sudan_origin_data_year = south_sudan_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
myanmar_origin_data_year = myanmar_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
sudan_origin_data_year = sudan_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
central_african_origin_data_year = central_african_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
venezuela_origin_data_year = venezuela_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
congo_origin_data_year = congo_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
mexico_origin_data_year = mexico_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
brazil_origin_data_year = brazil_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
nigeria_origin_data_year = nigeria_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
china_origin_data_year = china_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
ethopia_origin_data_year = ethopia_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
iran_origin_data_year = iran_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
iraq_origin_data_year = iraq_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
russia_origin_data_year = russia_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
colombia_origin_data_year = colombia_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
pakistan_origin_data_year = pakistan_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])
yemen_origin_data_year = yemen_origin_data.groupby(["Country of origin",'Year']).sum(['International total'])

In [73]:
top_origin_data_by_country = pd.concat([syrian_origin_data_year, afghanistan_origin_data_year,ukraine_origin_data_year,south_sudan_origin_data_year, myanmar_origin_data_year,sudan_origin_data_year, central_african_origin_data_year, venezuela_origin_data_year, congo_origin_data_year,mexico_origin_data_year,brazil_origin_data_year,nigeria_origin_data_year,china_origin_data_year,ethopia_origin_data_year,iran_origin_data_year,iraq_origin_data_year,russia_origin_data_year,colombia_origin_data_year,pakistan_origin_data_year,yemen_origin_data_year])

In [75]:
top_origin_data_by_country.to_csv('./top_origin_country_data.csv')